
{% extends "base.html" %}
{% block body %}

<h1 id="hello">Hello world!</h1>
<h3>Access List (last 500):</h3>
<p>Timestamps shown in {{ data.tzname }} timezone</p>

<table id="accesslist">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>IP</th>
            <th>Method</th>
            <th>Path</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data.axlist %}
        <tr>
            <td>{{ item.ts }}</td>
            <td>{{ item.ip }}</td>
            <td>{{ item.method }}</td>
            <td>{{ item.path }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<h3>Other Links:</h3>
<a href="/debug">debug</a>

{% endblock %}
