
{% extends "base.html" %}
{% block body %}

<a href="/">Home</a>
<h1>DEBUG</h1>
<div>
    <h3>request object:</h3>
    <table>

        {% for key, value in debug.request.items() %}

        <tr>
            <td>
                <h4>{{ key }}</h4>
            </td>
            <td>
                {% autoescape false %}
                <p>{{ value | pprint | replace("\n", "<br>") }}</p>
                {% endautoescape %}
            </td>
        </tr>

        {% endfor %}

    </table>
</div>

{% endblock %}
