<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>HELLO WORLD</title>
    <meta name="descsription" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        #accesslist td, #accesslist th {
            font-family: 'Courier New', Courier, monospace;
            padding-left: 2em;
            padding-right: 2em;
        }
    </style>

    <!-- <link rel="stylesheet" href="index.css"> -->
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>